/**************************************
       VOTRE CSS AVEC FLEXBOX
**************************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: yellow;
}

body{
  background-color: green;
  color: white;
  font-family: 'Open Sans', sans-serif;


}

main{
  margin: auto;

  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/***** Je mets des bordures aux elements blocs pour qu'ils soient plus visibles *****/

/*header, section, div, img, p, ul, nav, footer{
  border: 2px solid black;
}*/

header, section, footer{
  margin-bottom: 20px;
}


header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;;
  align-items: center;
  padding: 20px;
}

header nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

header nav ul li{
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  transition: all 0.5s;


}

header nav ul li a{
  text-decoration: none;
  color: white;
}

header nav ul li:hover{
  background-color: red;
  border-radius: 5px;
}


section{
  padding: 10px;
}

div{
  padding: 10px;
}

#one{
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 410px;

}

.one-1{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

.one-1 h2{
  color: black;
}


.one-1 a{
width: 120px;
color: black;
border-radius: 3px;
margin: 10px;
}


.one-2 {
height: 110%;
}





#two{
  background: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #7B7B7B;
  height: 100px;
  border-radius: 13px;
  border: 1px solid #0D0D0D;

}

#two h1,#two ul{
  margin: auto;
}

#three{

  display: flex;
  flex-direction: row;}

.three-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.three-1 h1, .three-1 p, .three-1 a{
  width: 90%;
}

.three-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.three-2-1{
  display: flex;
  flex-direction: row;
}

.three-2-1-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.three-2-1-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date{
  color: white;
}

footer, a{
  font-size: 13px;
}

footer{
  background-color: purple;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;

}

footer p{
  width: 40%;
}
